/*
전역 스타일: 전체 애플리케이션에 적용되는 기본 스타일
CSS Reset/Normalize: body, html, button 등 기본 HTML 요소들의 스타일 초기화
테마 설정: :root에서 CSS 변수와 전역 색상 설정
기본 폰트, 다크모드 등 앱 전체의 기본적인 디자인 시스템
*/

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;

  /* ————————————————— font families  ————————————————— */
  --font-main: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    system-ui, sans-serif;
  --font-family-secondary: "Inter", system-ui, "Segoe UI", Roboto, Arial;
  --font-family-tertiary: "Manrope", system-ui, "Segoe UI", Roboto, Arial;

  /* ————————————————— font weights ————————————————— */
  --fw-df: 400;
  --fw-md: 500;
  --fw-bold: 700;

  /* ————————————————— line-height  ————————————————— */
  --lh-default: 1.5;

  /* ———————— semantic typographic tokens ———————— */
  --heading-font-family: var(--font-main);
  --body-font-family: var(--font-main);
  --ui-font-family: var(--font-family-secondary);

  /* ——————————————————— colors  ——————————————————— */

  --deep-blue: #0b3e99;
  --blue: #115bca;
  --red: #ca1111;
  --black: #000000;
  --gray: #a5a5a5;
  --light-gray: #d9d9d9;
  --sub-btn: #f4f4f4;
  --text-input: #fcfcfc;
  --white: #ffffff;
  --visiting: #aa0094;
  --exchange: #00836b;
}

/*
 ——————————————————————————————————————————————————————

 ⭐ CSS Reset - 마진/패딩 초기화 : comment로 달아준 것(1)! ⭐ 
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* ⭐ 폰트 기본 적용 : comment로 달아준 것! (2) ⭐ */
  background-color: var(--white);
  color: var(--black, #000);
  font-family: "Pretendard Variable";
  font-style: normal;
  line-height: 1.5; /* 150% */

  /* 기본 레이아웃 설정 */
  display: flex;
  place-items: center;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
}

/*
 ———————————————————————————————————————————————————————————————————— 
 */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* —————————————————————————— Headings —————————————————————————— */

h1 {
  font-family: var(--heading-font-family);
  font-weight: var(--fw-bold);
  font-size: 2.15625rem;
  line-height: var(--lh-default);
  color: var(--text-primary, var(--color-black));
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: var(--fw-bold);
  font-size: 1.3125rem;
  line-height: var(--lh-default);
  color: var(--text-primary, var(--color-black));
}

h3 {
  font-family: var(--heading-font-family);
  font-weight: var(--fw-bold);
  font-size: 1.125rem;
  line-height: var(--lh-default);
  color: var(--text-primary, var(--color-black));
}

/* —————————————————————————— Body styles —————————————————————————— */

.body1 {
  font-family: var(--body-font-family);
  font-weight: var(--fw-md);
  font-size: 0.925rem;
  line-height: var(--lh-default);
  color: var(--color-black);
}

.body2 {
  font-family: var(--body-font-family);
  font-weight: var(--fw-df);
  font-size: 0.75rem;
  line-height: var(--lh-default);
  color: var(--color-black);
}

.body3 {
  font-family: var(--body-font-family);
  font-weight: var(--fw-df);
  font-size: 0.65625rem;
  line-height: var(--lh-default);
  color: var(--color-gray);
}

/* —————————————————————————— etc styles —————————————————————————— */

.page {
  font-family: var(--body-font-family);
  font-weight: var(--fw-bold);
  font-size: 1.75rem;
  line-height: var(--lh-default);
  color: var(--color-gray);
}

.bar {
  font-family: var(--body-font-family);
  font-weight: var(--fw-md);
  font-size: 1.125rem;
  line-height: var(--lh-default);
  color: var(--color-gray);
}
